.company-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    /* height: 100vh; */
    padding-top: 10px;
    margin-top: 50px;
    color: hsl(240, 5%, 4%);
    /* background-color: rgba(230, 229, 222, 0.75); */
    /* width: min-content; */
}

.heading {
    padding-left: 40px;
    margin-block: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .heading {
        padding-left: 25px;
    }

}