.Profile-outer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    margin-left: 54vw;
}

.Profile-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 0;
    gap: 0.9em;
    font-size: 0.9em;
}

.Profile-inner h2 {
    font-size: 1em;
}

.ProfileList {
    list-style: none;
    margin-left: -40px;
    margin-top: 0;
    /* background-color: rgba(255, 255, 255, 0.3); */
    }

.ProfileList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 350px; */
    gap: 10px;
    /* font-size: 0.8em; */
}

@media screen and (max-width: 767px) {
    .Profile-outer {
        top: 60px;
        align-items: center;
        margin-left: auto;
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    .Profile-inner {
        text-align: center;
        /* color: hsl(348, 82%, 50%); */
        padding-inline: 3em;
        font-size: 0.7em;
        width: max-content;
        background-color: rgba(255, 255, 255, 0.3);
    }

    /* Not working */
    .Date {
        margin-left: auto;
    }
}
