.Profile-outer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    margin-left: 50vw;
}

.Profile-inner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Profile-inner h2 {
    font-size: 1em;
}

.ProfileList {
    list-style: none;
    margin-left: -40px;
    margin-top: 0;
}

.ProfileList li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 350px; */
    gap: 10px;
}

@media screen and (max-width: 767px) {
    .Profile-outer {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 60px;
        align-items: center;
        margin-left: auto;
    }
    

}
