.Home {
    /* display: flex;
    flex-direction: column;*/
    /* position: relative; */
    align-items: center; 
    padding-top: 60px;
    line-height: 1.5 !important;
    text-align: center;
    color: hsl(54, 69%, 76%);
    font-weight: bold;
    padding-inline: 3em;
    /* text-wrap: balance; */
    /* margin: 50px auto; */
    /* flex-wrap: wrap; */
    /* margin-inline: auto; */
    /* width: fit-content; */
    /* height: fit-content block; */
    /* height: 100vw; */
    /* width: 100%; */
    /* white-space: nowrap; */
    /* word-wrap: break-word; */
    /* overflow: auto; */
    /* justify-content: center; */
    /* flex-shrink: 0; */
    /* height: max-content; */
    /* white-space: pre-wrap; */
}

.Home h3 {
    font-size: 1em;
}

.p {
    /* display: inline-block; */
    /* line-height: 1.5 !important; */
    /* display: flex; */
    /* flex-direction: column; */
    /* overflow-wrap: break-word; */
    /* height: max-content;
    line-break: anywhere; */
    /* min-height: 600px; */
    /* flex-wrap: wrap; */
    /* text-align: center; */
    /* word-wrap: break-word; */
    /* white-space: pre-line; */
}
