.InputField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 18.3em;
    margin-left: auto;
    align-items: center;
  }
  
  .InputField label {
    font-weight: bold;
  }
  
  .InputField input {
    height: 1.7em;
  }

  @media screen and (max-width: 767px) {
    .InputField {
        width: max-content;  
        gap: 10px;
    }
}