.outer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: -5px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-inline: 33px; */
    padding-top: 5px;
    padding-left: 40px;
    /* border: 1px solid black; */
}

.SaveOption {
    color: blue;
    margin-left: 40px;
    line-height: 1.2 !important;
    float: left;
}


h2  {
    /* line-height: 0; */
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    /* line-height: 0; */
}

label {
    font-size: 0.95em;
    font-family: "Roboto", monospace;
}

span  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: fit-content;
    font-size: 0.95em;
    font-family: "Roboto", monospace;
}

.Section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
    width: max-content;
}

@media screen and (max-width: 767px) {
 
.Mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 0;
    /* border: 1px solid black; */
    }
    
    .SaveOption {
        width: 80vw;
    }
}