.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 30px;
    background-color: transparent;
    gap: 0.5em;
    }

.searchbar Select {
    font-family: 'Core Sans G', Arial, sans-serif;
}

.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
    padding-inline: 0.5em;
}


/*.searchbar section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0.5em;*/
/*    align-content: flex-start;*/
/*}*/


/*.mySelect_value-container {*/
/*    min-height: 25px !important;*/
/*    min-width: 200px;*/
/*}*/


/*.searchbar li {*/
/*    list-style-type: none;*/
/*}*/

/*.searchbar ul {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-self: flex-start;*/
/*    margin-left: -40px;*/
/*    max-width: fit-content;*/
/*    gap: 0.3em;*/
/*}*/



