
.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(22, 24, 6);
    /* Prevent screen text from appearing on navbar */
    z-index: 100;
}

.navbar nav {
    display: flex;
    flex-direction: row;
    /* 1% for the scrollbar*/
    flex-basis: 99%;
    position: relative;
    justify-content: space-between;
    padding-right: 2em;
    left: 0;
    width: 100%;
    /* width: fit-content; No effect*/
    align-items: center;
    /* border: 1px solid black; */
}

/*Not defined as it has no effect*/
/* .searchbar {
    
} */

/* .pre-menu {
    
} */

.menu {
    display: flex;
    flex-direction: row;
    flex: 0 0 350px;
    justify-content: space-between;
    /* padding-right: 0.75em; */
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.homepage {
    text-decoration: none;
    white-space: nowrap;
}

.link--default {
    text-decoration: none;
    max-width: 100px;
    white-space: nowrap;
}

.link--active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.toggle-menu,
.mobile-homepage {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .menu {
        display: none;
    }

    .menu-extended {
        display: flex;
        flex-direction: row;
        flex: 0 0 310px;
        justify-content: space-between;
        padding-right: 0.75em;
    }
}

@media screen and (max-width: 767px) {
    .menu,
    .homepage {
        display: none;
    }

    .toggle-menu {
        display: flex;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-left: calc(100vw/6);
        padding-right: 0;
    }

    .mobile-homepage {
        display: flex;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: calc(100vw/6);
    }

    .mobile-menu {
        position: absolute;
        top: 33px;
        right: 0;

        display: flex;
        flex-direction: column;
        gap: 1.5em;

        background-color: rgba(0,0,0,0.8);
        padding: 2em;
    }

    .mobile-menu li {
        list-style-type: none;
    }

    /* .material-symbols-outlined {
            } */
}