body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Sunny-mountain {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./assets/Sunny-mountain.jpeg');
}

.Glacier {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./assets/Glacier.jpg');
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.mountain-top {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./assets/mountain-top.jpg');
}

.Mountains {
  min-height: 100vh;
  background-image: url('assets/Mountains.jpg');
  background-size: cover;
}

.carpithians {
  /* Nodig voor laptop view maar niet voor mobile*/
  min-height: 100vh;
  background-image: url('assets/carpithians.jpg');
  background-size: cover;
  /* background-size: auto 100%; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* float: left; */
  /* background-position: center; */
  /* clear: both; */
}

.Switzerland {
  min-height: 100vh;
  background-image: url('assets/Switzerland.jpg');
  background-size: cover;
}

button {
  border-radius: 2px;
  border: none;
  padding: 0.7em 1.4em;
  color: black;
  cursor: pointer;
  outline: none;
  margin-left: auto;
}

.SignUpIn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.SignUpIn form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 12px;
  justify-content: space-between;
  height: fit-content;
}

.InputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 20em;
  align-items: center;
}

  @media screen and (max-width: 767px) {
    .InputField {
        width: 16em;
    }
}

.InputField label {
  font-weight: bold;
}

.InputField input {
  height: 1.7em;

}

.CheckBox {
    display: flex;
    flex-direction: row;
    gap: 37px;
    position: relative;
}

.lineHeight {
  line-height: 1.2 !important;
}